@font-face {
  font-family: Avenir Next;
  src: url("../javascripts/AvenirNext.ttc"); }

@font-face {
  font-family: Insaniburger;
  src: url("../javascripts/Insanibu.ttf"); }

/* line 4, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFF;
  margin: 0; }

/* line 12, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
header {
  /*background-color: #7BC794;*/
  position: absolute;
  left: 10%;
  width: 80%;
  margin: auto;
  text-align: center;
  z-index: 3;
  top: 0; }

/* line 23, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#container {
  width: 100%; }

/*footer{
  background-color: #000;
  height: 100px;
  position: relative;
  top: 0;
  width: 100%;
}*/
/* Code for Firefox */
/* line 39, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
::-moz-selection {
  color: #000;
  background: #7BC794; }

/* line 44, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
::selection {
  color: #000;
  background: #7BC794; }

/* line 49, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
::-webkit-scrollbar {
  width: 1em;
  height: 7px; }

/* line 54, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
::-webkit-scrollbar-track {
  background: white; }

/* line 58, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
::-webkit-scrollbar-thumb {
  background: #7BC794; }

/* line 62, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
::-webkit-scrollbar-thumb:hover {
  background: #7BC780; }

/*////////////////////////nav bar style ///////////*/
/* line 71, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 77, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
nav a {
  position: relative;
  display: inline-block;
  margin: 15px 5px;
  outline: none;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em; }

/* line 92, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
nav a:hover,
nav a:focus {
  outline: none; }

/* line 97, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.nav-bar a {
  padding: 0.5em;
  color: #333333;
  /*  font-weight: 700;*/
  text-shadow: none;
  font-family: Insaniburger;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s; }

/* line 109, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.nav-bar a::before,
.nav-bar a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #7BC794;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px); }

/* line 125, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.nav-bar a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px); }

/* line 132, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.nav-bar a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px); }

/* line 140, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.nav-bar a:hover,
.nav-bar a:focus {
  color: #7BC794; }

/* line 147, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.nav-bar a:hover::before,
.nav-bar a:focus::before,
.nav-bar a:hover::after,
.nav-bar a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px); }

/*////////////////////////index style ///////////*/
/*.bannana-box{
  width: 100%;
  z-index: 2;
}*/
/* line 161, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.bannana {
  width: 100%;
  position: relative;
  top: -300%;
  /*    left: 34%;
      margin: auto;
      top: -300%;
      position: absolute;*/
  z-index: 2;
  opacity: 0.9; }

/* line 178, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.developer, .animator, .designer, .idiot {
  text-align: center;
  font-family: Avenir Next;
  font-weight: 900;
  display: none;
  margin: 0;
  position: absolute;
  line-height: 1em;
  letter-spacing: 0;
  word-spacing: 0;
  /*opacity: 0;*/ }

/* line 191, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.developer {
  font-size: 6em;
  z-index: 3;
  margin-top: 12%; }

/* line 197, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.animator {
  font-size: 6.4em;
  z-index: 1;
  margin-top: 17%; }

/* line 203, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.designer {
  font-size: 7em;
  z-index: 1;
  margin-top: 22.2%; }

/* line 209, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.idiot {
  font-size: 13em;
  z-index: 3;
  margin-top: 27.2%; }

/* line 215, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.index-logo {
  width: 40%;
  height: 550px;
  margin: auto;
  z-index: 2; }

/*////////////////////////portfolio style ///////////*/
/* line 226, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#all-project-view, #about-content {
  position: relative;
  width: 80%;
  top: 100px;
  padding: 0;
  margin: auto;
  padding-bottom: 15%; }

/* line 235, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#portfolio {
  padding: 0; }

/* line 239, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#portfolio-content {
  position: relative; }

/* line 243, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#filters {
  position: relative; }

/* line 247, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#image-holder {
  position: relative;
  width: 100%;
  height: 412px; }

/* line 253, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.item {
  width: 100%;
  position: relative;
  top: 0; }

/* line 259, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.item img {
  width: 100%; }

/* line 263, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.item.w2 {
  width: 100%; }

/* line 268, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#index-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0; }

/* line 276, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.videoContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden; }

/* line 284, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.videoContainer video {
  min-width: 100%;
  min-height: 100%; }

/* line 289, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
span {
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: bold;
  font-size: 1em; }

/* line 298, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.project-item {
  display: inline-block;
  width: 25%;
  padding-right: 0.5%;
  /*position: relative;*/ }

/* line 305, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.isotope {
  background: #DDD;
  max-width: 1200px; }

/*clear fix*/
/* line 311, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.isotope:after {
  content: '';
  display: block;
  clear: both; }

/* line 318, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.main-filter {
  font-size: 1em;
  margin: 0;
  margin-bottom: 5px; }

/* line 324, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
button {
  background-color: #7BC794;
  border: 0;
  /*  border-bottom: 5px solid #000;
    border-right: 5px solid #000;*/
  /*  text-shadow: 0px -2px #D1B358;*/
  position: relative;
  padding: 5px 30px;
  font-size: 0.8em;
  color: #FFF;
  text-decoration: none;
  /*padding-top: 2%;*/
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-appearance: none;
  width: auto;
  text-align: center; }

/* line 345, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
button:hover {
  background-color: #000;
  /*  border: none;
  outline: none;*/ }

/* line 351, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
button:visited {
  background-color: #7BC794; }

/* line 355, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
button:active {
  background-color: #7BC794;
  border: none;
  outline: none; }

/* line 361, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.main-filter {
  font-size: 1em;
  margin: 0;
  margin-bottom: 5px;
  padding: 10px 40px; }

/*////////////////////////project style ///////////*/
/* line 370, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#project-view {
  position: relative;
  width: 80%;
  top: 100px;
  padding: 0;
  margin: auto; }

/* line 378, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.back {
  width: auto;
  max-width: 5%;
  background-color: #000;
  border: 0;
  position: relative;
  padding: 10px;
  font-size: 0.7em;
  color: #FFF;
  text-decoration: none;
  /*padding-top: 2%;*/
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-appearance: none;
  width: auto;
  text-align: center;
  margin-left: 1em; }

/* line 399, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.back:hover, .back a:hover {
  background-color: #7BC794;
  text-decoration: none; }

/* line 404, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.back a {
  padding: 0.5em;
  color: #000;
  /*  font-weight: 700;*/
  text-shadow: none;
  font-family: Insaniburger;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none; }

/* line 417, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.project-image {
  width: 50%;
  display: inline-block;
  vertical-align: top; }

/* line 423, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.project-image img {
  width: 100%; }

/* line 427, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.title {
  text-transform: uppercase;
  width: 30%;
  list-style: none;
  font-family: Avenir Next;
  font-weight: 900;
  font-size: 1.2em; }

/* line 436, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.content {
  width: 40%;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-family: Avenir Next;
  margin: 0;
  font-size: 0.9em;
  font-weight: normal; }

/* line 447, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.project-link a {
  color: #000;
  text-decoration: none; }

/* line 452, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.project-video {
  width: 45%;
  height: 300px;
  position: relative;
  display: inline-block;
  padding-top: 4%; }

/* line 460, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.project-link a:hover {
  color: #7BC794; }

/*///////// skills style /////////////*/
/* line 466, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#all-skill-view {
  position: relative;
  width: 80%;
  top: 100px;
  padding: 0;
  margin: auto;
  padding-bottom: 15%; }

/* line 475, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.single-skill-image {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  position: relative; }

/* line 482, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.single-skill-image img {
  width: 100%; }

/* line 486, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.skill-content {
  font-family: Avenir Next;
  margin: 0; }

/* line 491, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.skills-video {
  width: 45%;
  height: 300px;
  position: relative;
  display: inline-block;
  padding-top: 4%; }

/* line 499, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.project-link {
  width: 100%;
  padding-top: 4%;
  position: relative;
  left: auto; }

/* line 506, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.project-link a {
  font-family: Avenir Next;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  color: #000; }

/* line 514, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.project-link a:hover {
  color: #7BC794; }

/* line 520, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.content-box {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 4%; }

/*///////// about style /////////////*/
/* line 530, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#about-content {
  position: relative;
  top: 90px;
  padding-bottom: 5%; }

/* line 536, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#about-content p {
  font-family: Avenir Next;
  margin: 0; }

/* line 541, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.hello {
  font-family: Avenir Next;
  font-weight: 900;
  font-size: 5em;
  margin: 0;
  text-transform: uppercase; }

/* line 549, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.line {
  width: 100%;
  height: 5px;
  background-color: #000; }

/* line 555, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#quick-facts, #boring-facts, #contact {
  width: 50%;
  padding: 2%;
  background-color: #7BC794;
  margin-top: 2%;
  display: inline-block; }

/* line 563, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#quick-facts, #contact {
  margin-left: 50%; }

/* line 567, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#quick-facts p {
  color: #000;
  font-size: 1.2em;
  /*background-color: #FFD300;*/
  padding: 1%; }

/* line 574, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#quick-facts li, #contact li, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 580, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
#quick-facts ul, #contact ul {
  list-style: none;
  margin: 0; }

/* line 585, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.email:hover {
  /*text-transform: lowercase;*/ }

/* line 589, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.qf-title, .bf-title, .contact-title {
  font-family: Avenir Next;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2em; }

/* line 596, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.contact-content h2 {
  font-family: Avenir Next;
  font-weight: 900;
  font-size: 1.2em; }

/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
/* line 604, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.cl-effect-2 a {
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px; }

/* line 611, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.cl-effect-2 a span {
  position: relative;
  display: inline-block;
  padding: 0 14px;
  background: #FFF;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/* line 627, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.csstransforms3d .cl-effect-2 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFD300;
  text-align: center;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0; }

/* line 648, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
  text-align: center; }

/* line 656, /Users/daisymarie128/portfolio2014/source/stylesheets/all.css.scss */
.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
  background: #FFD300;
  text-align: center; }
